@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;600&display=swap');

/** -> COLOR

Bleu        : #0065FC
Bleu clair  : #DEEBFF
Gris        : #F2F2F2

                          **/

*{
  box-sizing: border-box;
}

html,body{
  margin: 0;
  padding: 0;
  font-family: Raleway;
}

h1,h2,h3,h4{
  margin: 0;
}

p{
  margin: 0;
}

i{
  color: #0065FC;
}

/**

    Header


                          **/

header{
  line-height: 72px;
  margin-left: 32px;
  margin-right: 32px;
}

nav{
  display: flex;
  justify-content: space-between;
}

.logo{
  display: flex;
  flex-direction: row;
}

.menu{
  list-style-type: none;
  text-align: center;
  display: flex;
  margin: 0;
}

.menu li{
  margin: 0 12px 0 12px;
  padding: 22px 20px 0 32px;
}

.menu li .blue{
  color: #0065FC;
  font-weight: bold;
}

.menu li a{
  text-decoration: none;
  color: black;
}

.menu li a:hover{
  color: #0065FC;
}

.active{
  border-top: 2px solid;
  border-color: #0065FC;
}

.menu li a .active{
  color: #0065FC;
}

.para_header{
  line-height: 30px;
}

.para_header h1{
  font-weight: 600;
  font-size: 24px;
}

.para_header p{
  font-weight: 400;
  font-size: 17px;
}

.search{
  display: flex;
  background-color: #fff;
  width: 480px;
  height: 60px;
  line-height: 60px;
  border-radius: 20px;
  margin-top: 20px;
}

.search i{
  background-color: #F2F2F2;
  border-radius:  20px 0 0 20px;
  color: black;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search input{
  background-color: #fff;
  padding:  5px;
  border: 1px solid #F2F2F2;
  width: 250px;
}

.search button{
  background-color: #0065FC;
  border: 0;
  padding: 5px;
  border-radius:  0px 20px 20px 0px;
  color: #fff;
}

.search button a{
  color: #fff;
  font-size: 12px;
}

.search button i{
  padding: 0;
  margin: 0;
  background-color: #0065FC;
  color: #fff;
  display: none;
}

.button_responsiv{
  display: none;
}

.respon_register{
  display: none;
}

@media screen and (max-width: 660px){
  .menu .blue{
    display: none;
  }
  nav{
    display: contents;
  }
  .logo{
    justify-content: space-between;
  }
  .active{
    border: 0px;
    border-bottom: 2px solid #0065FC;
  }
  .respon_grey{
    display: inherit;
    border-bottom: 2px solid #F2F2F2;
  }
  .menu li{
    padding: 0 20px 0 32px;
  }
  .respon_register{
    display: inline;
    text-decoration: none;
    font-weight: 600;
    color: #0065FC;
  }
}

@media screen and (max-width: 500px){
  .search_hide{
    display: none;
  }
  .search button i{
    display: flex;
    padding: 0px 0px 0px 0px;
    font-size: 18px;
    width: 40px;
  }
  .search input{
    width: 300px;
  }
  .search{

  }
  .search button{
    border-radius: 15px;
    padding: 16px 20px 13px 18px;
    margin-left: -10px;
  }
  .menu{
    margin-bottom: 32px;
    margin-left: -32px;
    margin-right: -32px;
  }
  .menu li{
    line-height: 32px;
    margin: 0;
    font-size: 20px;
    box-sizing: border-box;
    width: calc(50% + 64px);
  }
  nav ul.menu{
    padding: 0;
    padding-right: 1px;
    box-sizing: border-box;
  }
  .search{
    width: auto;
  }
  .menu li a{
    margin: auto;
  }
}


.filtre_header{
  display: flex;
  margin-top: 24px;
  line-height: 55px;
}

.filtre_header h3{
  margin-right: 32px;
}

.filtre_header button{
  border-radius: 32px;
  border: 1px solid #DEEBFF;
  margin-right: 22px;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.21);
  background-color: #fff;
  appearance: none;
    -moz-appearance: none;
-webkit-appearance: none;
}

.filtre_header i{
  margin-left: -6px;
  padding: 18px;
  background-color: #DEEBFF;
  border-radius: 50%;
  font-size: 18px;
}

.filtre_header a{
  padding-left: 12px;
  padding-right: 32px;
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 16px;
}

@media screen and (max-width: 1095px){
  .filtre_header{
    display: table;
  }
}

.info_header{

}

.info_header i{
 padding: 7px;
 border: 1px solid #DEEBFF;
 border-radius: 100%;
 font-size: 12px;
 margin-right: 12px;
}

.info_header p{
  display: contents;
}

@media screen and (max-width: 500px){
  .info_header p{
    font-size: 14px;
  }
}

/**

    Container


                          **/

.container{
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 32px;
}

/**

    Herbegement


                          **/

.Hebergement{
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
}

.Hebergement_marseille{
  width: 65%;
  height: auto;
  background-color: #F2F2F2;
  margin-right: 64px;
  border-radius: 32px;
}

.Hebergement_marseille h2{
  margin-left: 8.5%;
  margin-top: 32px;
  margin-bottom: 32px;
}

.position_block_hotel_marseille{
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-left: 6%;
}

.block_hotel_marseille{
  align-items: center;
  width: 30%;
  height: 320px;
  background-color: #fff;
  border-radius: 32px;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-bottom: 32px;
  box-shadow: 0 5px 9px 0 rgba(0,0,0,.21);
}

.block_hotel_marseille img{
  display: block;
  max-width: 95%;
  height: 70%;
  width: 100%;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  margin-left: 8px;
  margin-top: 8px;
}

.block_hotel_marseille h3{
  margin-left: 6px;
  margin-bottom: 4px;
  margin-top: 6px;
}

.block_hotel_marseille p{
  margin-left: 6px;
}

.block_hotel_marseille .stars{
  padding-left: 2px;
}

.block_hotel_marseille i{
  color: #F2F2F2;
}

.block_hotel_marseille .black{
  font-weight: bold;
}

.Hebergement_marseille .add_more{
  margin-left: 8.5%;
  margin-bottom: 32px;
}

.Hebergement_marseille .add_more a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.Hebergement_populaire{
  width: 35%;
  height: auto;
  background-color: #F2F2F2;
  border-radius: 32px;
}

.Hebergement_populaire h2{
  margin-left: 8.5%;
  margin-top: 32px;
  padding-right: 215px;
}

.title_populaire{
  display: flex;
}

.Hebergement_populaire i{
  margin-top: 52px;
  font-size: 28px;
  color: black;
}

.Hebergement_populaire_position{
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-left: 6%;
  margin-right: 6%;
}

.Hebergement_populaire_block{
  width: 100%;
  display: flex;
  background-color: #fff;
  border-radius: 32px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-top: 8px;
  box-shadow: 0 5px 9px 0 rgba(0,0,0,.21);
}

.Hebergement_populaire_block img{
  display: block;
  max-width: 60%;
  height: 190px;
  width: 200px;
  border-top-left-radius: 28px;
  border-bottom-left-radius: 28px;
}

.Hebergement_populaire_block h3{
  padding-top: 16px;
  margin-left: 16px;
}

.Hebergement_populaire_block p{
  padding-top: 16px;
  margin-left: 16px;
}

.stars{
  margin-left: 16px;
}

.Hebergement_populaire_block i{
  padding: 0;
  margin : 0;
  font-size: 14px;
  padding-top: 56px;
  color: #F2F2F2;
}
@media screen and (max-width: 1240px){
  .block_hotel_marseille img{
    display: block;
    width: 100%;
    max-height: 60%;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    margin-left: 8px;
    margin-top: 8px;
    height: 160px;
  }
}
@media screen and (max-width: 1235px){
  .Hebergement{
    flex-direction: column-reverse;
  }
  .Hebergement_populaire{
    margin-right: 64px;
    margin-bottom: 32px;
    width: 100%;
  }
  .Hebergement_marseille{
    margin-right: 0px;
    width: 100%;
    background-color: #fff;
  }
  .position_block_hotel_marseille{
    margin: 0;
  }
  .block_hotel_marseille{
    width: 100%;
    height: 260px;
    margin: 0;
    margin-bottom: 32px;
  }
  .block_hotel_marseille_image{
    height: 200px;
  }
}

.blue i{
  color: #0065FC;
}

.blue a{
  color: #0065FC;
}

@media screen and (max-width: 500px){
  .container{
    margin-left: 0;
    margin-right: 0;
  }

  .title_populaire h2{
    padding-right: 0px;
  }
  .title_populaire i{
    float: right;
    margin-left: 120px;
  }
  .Hebergement_populaire{
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 32px;
    width: 100%;
    border-radius: 0;
  }
  .Hebergement_populaire_position{
    margin-left: 0;
    margin-right: 0;
  }
  .block_hotel_marseille{
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 32px;
  }
  .block_hotel_marseille img{
    max-width: 96%;
    max-height: 80%;
  }
  .block_hotel_marseille h3{
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .block_hotel_marseille p{
    margin-bottom: 8px;
  }
  .block_hotel_marseille .stars{
    padding-left: 8px;
    padding-bottom: 6px;
  }
}

/**

    Activités à Marseille


                          **/

.activite_titre{
  font-size: 24px;
  margin-bottom: 18px;
}

.activite{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(40vh, 300px);
  grid-gap: 32px;
  width: 100%;
}

.activite div{
  background: #fff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0 5px 9px 0 rgba(0,0,0,.21);
}

.activite img{
  width: 100%;
  height: calc(100% - 60px);
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  object-fit: cover;
}

.activite p{
  font-weight: 600;
  height: 60px;
  width: 100%;
}

.activite_block1{
  grid-column: 1/2;
  grid-row: 1/3;
}

.activite_block2{
  grid-column: 2/3;
}

.activite_block3{
  grid-column: 2/3;
}

.activite_block4{
  grid-column: 3/4;
  grid-row: 1/3;
}

.activite_block5{
  grid-column: 4/5;
  grid-row: 1/2;
}

@media screen and (max-width: 1830px){
  .activite{

  }
  .activite div{
    margin: 32px 0;
    margin-left: 26px;
  }
  .activite_titre{
    margin-left: 32px;
  }
}

@media screen and (max-width: 1235px){
  .activite{
    display: block;
  }
}

.none{
  margin-left: 0;
}

.weight{
  font-weight: bold;
  padding: 0 12px 0 12px;
  font-size: 16px;
}

@media screen and (max-width: 500px){
  div .activite_block1{
    width: 90%;
  }
  div .activite_block2{
    width: 90%;
  }
  div .activite_block3{
    width: 90%;
  }
  div .activite_block4{
    width: 90%;
  }
  div .activite_block5{
    width: 90%;
  }
  div .activite_block6{
    width: 90%;
  }
}

/**

    Footer


                          **/

footer{
  background-color: #F2F2F2;
  display: flex;
  width: 100%;
}

footer ul{
  list-style-type: none;
  padding-left: 0;
}

footer li{
  margin-bottom: 12px;
}

.footer_left{
  margin: 32px 220px 32px 32px;
}

.footer_center{
  margin: 32px 220px 32px 32px;
}

.footer_right{
  margin: 32px 0px 32px 32px;
}

@media screen and (max-width: 1070px){
  footer{
    display: grid;
  }
